.header {
    background-color: var(--gray-800);
    /*
    Para centralizar o conteudo tanto horizontalmente quanto verticalmente
    */
    display: flex;
    justify-content: center;
    padding: 1.25rem 0; /* 1.25rem equivale a 20 px */
}

.header img {
    height: 2rem;
}